@font-face {
  font-family: 'Catamaran';
  src: url('Catamaran.eot'); /* IE9 Compat Modes */
  src: url('Catamaran.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Catamaran.woff2') format('woff2'), /* Super Modern Browsers */
       url('Catamaran.woff') format('woff'), /* Pretty Modern Browsers */
       url('Catamaran.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Catamaran.svg#svgFontName') format('svg'); /* Legacy iOS */
}